@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format("truetype-variations");
    font-style: normal;
    font-weight: 100 900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#app-container {
    font: normal 1em "OpenSans", sans-serif;
    height: 100vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

#canvas-container {
    margin: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 350px;
}

#canvas {
    border: 1px solid #000;
}

#functions-container {
    margin: 10px;

    -webkit-box-flex: 1;

        -ms-flex: 1 1 30%;

            flex: 1 1 30%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    font-weight: bolder;
    font-size: 1.2em;
}

#text-box:focus::-webkit-input-placeholder {
    color: transparent;
}

#text-box:focus::-moz-placeholder {
    color: transparent;
}

#text-box:focus:-ms-input-placeholder {
    color: transparent;
}

#text-box:focus::-ms-input-placeholder {
    color: transparent;
}

#text-box::-webkit-input-placeholder {
    font-weight: normal;
}

#text-box::-moz-placeholder {
    font-weight: normal;
}

#text-box:-ms-input-placeholder {
    font-weight: normal;
}

#text-box::-ms-input-placeholder {
    font-weight: normal;
}

#text-box::placeholder {
    font-weight: normal;
}

#text-box:focus::-webkit-input-placeholder {
    color: transparent;
}

#text-box:focus::-moz-placeholder {
    color: transparent;
}

#text-box:focus:-ms-input-placeholder {
    color: transparent;
}

#text-box:focus::-ms-input-placeholder {
    color: transparent;
}

#text-box:focus::placeholder {
    color: transparent;
}

#text-box {
    margin: 10px 0px;
    padding: 10px 30px;
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
    display: inline-block;

    color: #0f4844;
    text-decoration: none;
    text-align: center;
}

.button-entry {
    margin: 10px 0px;
    padding: 10px 30px;
    position: relative;
    border: 1px solid #0000;
    border-radius: 10px;
    outline: none;
    display: inline-block;
    cursor: pointer;

    color: #0f4844;
    background-color: #e494ae;

    text-decoration: none;
}

.button-entry:hover {
    border: 1px solid #000;

    color: #58162c;
    background-color: #FFF;

    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.button-entry:active {
    background-color: #70dbb8;
}

#undo-button {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

#undo-button:hover {
    color: #570010;
}

#history-container {
    overflow: auto;
    display: flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0px;
    padding: 10px 30px;
    position: relative;
    border: 1px solid #0000;
    border-radius: 10px;
    outline: none;
    height: 30%;

    color: #0f4844;
    background-color: #ffa5b6;
    font-size: 0.9em;
}


#history-container #headers {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#history-container #headers #main-header{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
}

#history-container #headers .sub-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center;
    border-bottom: 2px solid black;
}

#history-container #overflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#history-container #overflow .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid black;
}

#history-container::-webkit-scrollbar {
    display: none;
}

#history-container .info-container .messages {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
}

#history-container .info-container .time {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    font-size: 14px;
    text-align: center;
}

#slider-container {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px;
    padding: 10px 30px;
    border: 1px solid #0000;
    border-radius: 10px;
    outline: none;

    color: #0f4844;
    background-color: #ffa5b6;

    font-size: 0.9em;
    text-decoration: none;
}

#slider-container #slider {
    outline: none;
    width: 50%;
}

#slider-container #indicator {
    outline: none;
    text-align: center;
    background: none;
    border: none;
}

